#connection {
    background-color: lightsteelblue;
    height: 60px;
    word-wrap: normal;
}

#viewport {
    background-color: lightsteelblue;
    height: 300px;
    width: 500px;
}

#output {
    height: 300px;
    width: 500px;
    background-color: antiquewhite;
}